footer {
  background-color: #0c1d40;
  display: flex;
  flex-direction: column;
}

.footer-container {
  margin-left: -2rem;
}

.footer-logo {
  width: 218px;
  height: auto;
  margin-bottom: 1rem;
  padding: 96px 0px 0px 96px;
}

.code-block {
  font-family: "Courier New", monospace;
  color: #7a7e87;
  font-size: clamp(0.75rem, 1.4vw, 0.875rem);
  line-height: 1.5;
  white-space: normal;
  max-width: 800px;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0px 0px 48px 6rem;
  width: 80%;
}

.code-line {
  display: block;
  margin-left: 0;
}

.code-indent-1 {
  margin-left: 1rem;
}
.code-indent-2 {
  margin-left: 2rem;
}
.code-indent-3 {
  margin-left: 3rem;
}

.code-block a {
  color: #7a7e87;
  text-decoration: underline;
  word-break: break-word;
}

.feedback-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 96px;
}

.footer-feedback-button {
  background-color: #0a327c;
  color: #f6ddad;
  font-size: 15.56px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: 3.88px solid #0a1835;
  padding: 3.04px 12.16px;
  box-shadow: 0 0 0 1.94px #0a327c;
  border-radius: 90px;
  margin: 0px 0px 0px 96px;
}

.footer-feedback-button-text {
  white-space: nowrap;
}

.feedback-code-block {
  font-family: "Courier New", monospace;
  color: #7a7e87;
  font-size: clamp(0.75rem, 1.4vw, 0.875rem);
  line-height: 1.5;
  white-space: normal;
  max-width: 800px;
  padding: 1rem;
  box-sizing: border-box;
  width: 80%;
}

@media (max-width: 650px) {
  .feedback-code-block {
    display: none;
  }
}
