body {
  margin: 0;
  background-color: #0a1835;
  color: #f6ddad;
  font-family: "Inter";
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #f6ddad;
}
