@import "tailwindcss";

@theme {
  /* spacing */
  --header-padding-x: 48px;
  --header-margin-b: 150px;
  --header-margin-b-sm: 100px;

  /* logo sizes */
  --logo-w: 156px;
  --logo-w-sm: 106px;

  /* typography */
  --build-font-size: 20px;
  --build-font-size-sm: 1rem;
}

body {
  margin: 0;
  background-color: #0a1835;
  color: #f6ddad;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  font-family: "Inter";
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  width: 100%;
  overflow-x: hidden;
}
