:root {
  margin: 0;
  background-color: #0a1835;
  color: #f6ddad;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif
}
/* 
button {
  cursor: pointer;
  background-color: transparent
} */

@import "tailwindcss";

