.third-wrapper {
  padding: 96px;
  background-color: #0c1d40;
}

.third-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.third-header {
  color: #f6ddad;
  font-size: 40.65px;
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 45px;
}

.third-subheader {
  color: #7a7e87;
  font-size: 19.12px;
  font-weight: 400;
  letter-spacing: -0.31px;
  line-height: 27.3px;
  text-align: center;
}

.third-sub-cta {
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.third-sub-cta-text {
  background: linear-gradient(#f5f6f6, #8a8f98);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.third-sub-cta-arrow {
  height: 14px;
}

.third-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.third-middle img {
  width: 100%;
  max-width: 975px;
  min-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.third-bottom {
  display: flex;
  justify-content: center;
  gap: 63.46px;
}

.insight-card {
  display: flex;
  flex-direction: column;
  gap: 11.81px;
  width: 218px;
}

.insight-card-top {
  display: flex;
  gap: 8.85px;
}

.insight-card-header {
  color: #f6ddad;
  font-size: 15.99px;
  font-weight: 400;
  letter-spacing: -0.26px;
  line-height: 22.8px;
}

.insight-card-subtext {
  color: #7a7e87;
  font-size: 15.7px;
  letter-spacing: -0.26px;
  line-height: 22.4px;
}

/* ≤ 850px */
@media (max-width: 850px) {
  .third-wrapper {
    padding: 96px 24px;
  }

  .third-bottom {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .insight-card {
    width: 90%;
    max-width: 400px;
  }
}

/* ≤ 480px */
@media (max-width: 480px) {
  .third-top {
    text-align: center;
  }

  .third-header,
  .third-subheader {
    width: 100%;
    text-align: center;
  }
}
