# Folders to ignore
node_modules
public
dist
build
be

# Config and environment files to ignore
*.lock
package.json
package-lock.json
yarn.lock
pnpm-lock.yaml
eslint.config.js
tsconfig*.json
vite.config.ts
vercel.json
README.md
